.hero {
  background-size: cover;
  min-height: calc(100vh - 95px);
  background-attachment: fixed;
  background-position: center;


  @media (max-width: 600px) {
    min-height: auto;
    background-attachment: unset;
  }

  .container {
    height: 100%;
  }

  &__promotion {
    font-size: 32px;
    color: #fff;
    background-color: rgba($color: #000000, $alpha: 0.2);
    padding: 20px 40px;
    margin-bottom: -30px;



    @media (max-width: 600px) {
      font-size: 18px;
      padding: 10px 20px;
      margin-bottom: 0;
    }
  }


  &__wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding: 200px 0;
    min-height: calc(100vh - 95px);

    @media (max-width: 600px) {
      min-height: auto;
      padding: 50px 0;
      gap: 30px;
    }
  }

  &__ticker {
    display: flex;
    padding: 20px 40px;
    border-radius: 8px;
    color: var(--color-text);
    background-color: rgba($color: #000000, $alpha: 0.2);
    margin-bottom: -30px;
    font-size: 16px;

    @media (max-width: 600px) {
     padding: 10px 20px;
    }
  }

  &__title {
    color: var(--color-text);
  }
}