.quiz {
  background-color: var(--color-main-light);
  padding: 100px 0;

  @media (max-width: 1290px) {
    padding: 60px 0;
  }

  @media (max-width: 600px) {
    padding: 40px 0;
  }
  &__wrapper {
    padding: 0 5%;

    @media (max-width: 1290px) {
      padding: 0;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 110%;
    text-align: center;
    color: var(--color-text);
    margin-bottom: 50px;
    border-bottom: 1px solid var(--color-text);
    padding-bottom: 30px;

    @media (max-width: 960px) {
      font-size: 36px;
    }

    @media (max-width: 600px) {
      font-size: 24px;
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 20px;
    }
  }

  &__content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
    background-color: rgba($color: #000000, $alpha: 0.2);
    border-radius: 8px;
    transition: all 0.3s ease;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    position: relative;

    
    @media (max-width: 600px) {
      padding: 30px;
      min-height: 450px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    @media (max-width: 960px) {
      margin-bottom: 30px;
      flex-wrap: wrap;
      gap: 15px;
    }
  }

  &__subtitle {
    color: var(--color-text);

    @media (max-width: 960px) {
      font-size: 16px;
    }
  }

  &__counter {
    color: var(--color-accent-second);


    @media (max-width: 960px) {
      font-size: 16px;
    }
  }

  &__controls {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-top: auto;
    width: 100%;
    align-self: end;
    margin-top: auto;
  }

  &__question {
    color: var(--color-text);


  }

  &__choises {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__choise {
    input[type="radio"] {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    input[type="text"] {
      width: 50%;
    background-color: transparent;
    border: 1px solid var(--color-text);
    border-radius: 8px;
    padding: 20px;
    color: var(--color-text);
    font-size: 18px;
    outline: none;
    transition: all 0.3s ease;

    &:focus {
      border-color: var(--color-accent);
    }

    @media (max-width: 960px) {
      width: 100%;
      font-size: 16px;
      padding: 15px;
    }
    }

    label {
      display: flex;
      align-items: center;
      gap: 20px;
      color: var(--color-text);
      font-size: 18px;
      width: fit-content;
      user-select: none;
      cursor: pointer;

      @media (max-width: 600px) {
        font-size: 16px;
      }


      &::before {
        content: '';
        width: 24px;
        height: 24px;
        border: 2px solid #fff;
        border-radius: 50%;
        transition: all 0.3s ease;

        @media (max-width: 960px) {
          width: 16px;
          height: 16px;
        }
      }
    }

    input:checked + label::before {
      background-color: var(--color-accent);
    }
  }

  &__btn {
    border: none;
    outline: none;

    transition: all 0.3s ease;
    font-size: 18px;
    height: 52px;

    &:disabled:hover {
      background-color: var(--color-accent);
      color: #fff;
    }

    &:disabled {
      opacity: 0.5;
    }

    @media (max-width: 960px) {
     font-size: 14px;
     height: 42px;
    }
  }

  &__block {
    display: none;
    animation: fade 0.3s ease;


    &.active {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }


  &__thanks {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 48px;
    border-radius: 8px;
    color: #fff;
    background-color: var(--color-main);
    left: 0;
    top: 0;
    animation: fade 0.3s ease;
    z-index: 999;

    @media (max-width: 1290px) {
      font-size: 36px;
    }
    
    @media (max-width: 600px) {
      font-size: 24px;
    }

    &.active {
      display: flex;
    }
  }
}



@keyframes fade {
  0% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}