.title {
  font-weight: 600;
  font-size: 64px;
  line-height: 110%;
  text-align: center;

  @media (max-width: 1000px) {
    font-size: 48px;
  }

  @media (max-width: 600px) {
    font-size: 32px;
  }
}