:root {
  --color-text: #fff;
  --color-main: #28282a;
  --color-accent: #275DAD;
  --color-accent-second: #b3d2ff;
  --color-main-light: #33363b;
  --font-family: 'Inter Tight', sans-serif;
  --laptop: 1279px;
  --tablet: 959px
  --mobile: 767px;
}