/* inter-tight-regular - cyrillic-ext_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-tight-v7-cyrillic-ext_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-tight-500 - cyrillic-ext_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-tight-v7-cyrillic-ext_latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-tight-600 - cyrillic-ext_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-tight-v7-cyrillic-ext_latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-tight-700 - cyrillic-ext_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-tight-v7-cyrillic-ext_latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-tight-800 - cyrillic-ext_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/inter-tight-v7-cyrillic-ext_latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --color-text: #fff;
  --color-main: #28282a;
  --color-accent: #275DAD;
  --color-accent-second: #b3d2ff;
  --color-main-light: #33363b;
  --font-family: "Inter Tight", sans-serif;
  --laptop: 1279px;
  --tablet: 959px
  --mobile: 767px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
@media (min-width: 1000px) {
  a {
    transition: all 0.3s ease;
  }
  a:hover {
    color: var(--color-accent);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: normal;
  background-color: var(--color-text);
  color: var(--color-main);
  height: 100%;
  min-width: 320px;
}
@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
}

.container {
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .container {
    padding: 0 10px;
  }
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  font-size: 14px;
  color: var(--color-main);
  background: #fff;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  z-index: 1000;
  transition: all 0.3s ease;
}

.back-to-top:hover {
  background: var(--color-accent);
  text-decoration: none;
  color: #fff;
}

.title {
  font-weight: 600;
  font-size: 64px;
  line-height: 110%;
  text-align: center;
}
@media (max-width: 1000px) {
  .title {
    font-size: 48px;
  }
}
@media (max-width: 600px) {
  .title {
    font-size: 32px;
  }
}

.fade {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.btn {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 72px;
  padding: 0 32px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  color: #fff;
  border-radius: 8px;
  background-color: var(--color-accent);
}
@media (min-width: 1000px) {
  .btn:hover {
    color: var(--color-accent);
    background-color: var(--color-text);
  }
}
@media (max-width: 600px) {
  .btn {
    font-size: 14px;
    padding: 0 20px;
    line-height: normal;
    height: 42px;
  }
}

.form {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  border-radius: 8px;
}
@media (max-width: 600px) {
  .form {
    padding: 30px;
  }
}
.form__input {
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--color-text);
  border-radius: 8px;
  padding: 20px;
  color: var(--color-text);
  font-size: 18px;
  outline: none;
  transition: all 0.3s ease;
}
.form__input:focus {
  border-color: var(--color-accent);
}
@media (max-width: 600px) {
  .form__input {
    transition: none;
    padding: 15px 10px;
    font-size: 14px;
  }
  .form__input:focus {
    border-color: var(--color-text);
  }
}
.form__btn {
  border: none;
  outline: none;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 18px;
  height: 60px;
  width: 100%;
}
@media (max-width: 600px) {
  .form__btn {
    font-size: 14px;
    height: 52px;
  }
}
.form__checkbox input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.form__checkbox label {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-text);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.form__checkbox label::before {
  flex-shrink: 0;
  content: "";
  width: 24px;
  height: 24px;
  transition: all 0.3s ease;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.7587 2H16.2413C17.0463 1.99999 17.7106 1.99998 18.2518 2.04419C18.8139 2.09012 19.3306 2.18868 19.816 2.43597C20.5686 2.81947 21.1805 3.43139 21.564 4.18404C21.8113 4.66937 21.9099 5.18608 21.9558 5.74817C22 6.28936 22 6.95372 22 7.75868V16.2413C22 17.0463 22 17.7106 21.9558 18.2518C21.9099 18.8139 21.8113 19.3306 21.564 19.816C21.1805 20.5686 20.5686 21.1805 19.816 21.564C19.3306 21.8113 18.8139 21.9099 18.2518 21.9558C17.7106 22 17.0463 22 16.2413 22H7.75868C6.95372 22 6.28936 22 5.74817 21.9558C5.18608 21.9099 4.66937 21.8113 4.18404 21.564C3.43139 21.1805 2.81947 20.5686 2.43597 19.816C2.18868 19.3306 2.09012 18.8139 2.04419 18.2518C1.99998 17.7106 1.99999 17.0463 2 16.2413V7.7587C1.99999 6.95373 1.99998 6.28937 2.04419 5.74817C2.09012 5.18608 2.18868 4.66937 2.43597 4.18404C2.81947 3.43139 3.43139 2.81947 4.18404 2.43597C4.66937 2.18868 5.18608 2.09012 5.74817 2.04419C6.28937 1.99998 6.95373 1.99999 7.7587 2ZM5.91104 4.03755C5.47262 4.07337 5.24842 4.1383 5.09202 4.21799C4.7157 4.40973 4.40973 4.7157 4.21799 5.09202C4.1383 5.24842 4.07337 5.47262 4.03755 5.91104C4.00078 6.36113 4 6.94342 4 7.8V16.2C4 17.0566 4.00078 17.6389 4.03755 18.089C4.07337 18.5274 4.1383 18.7516 4.21799 18.908C4.40973 19.2843 4.7157 19.5903 5.09202 19.782C5.24842 19.8617 5.47262 19.9266 5.91104 19.9624C6.36113 19.9992 6.94342 20 7.8 20H16.2C17.0566 20 17.6389 19.9992 18.089 19.9624C18.5274 19.9266 18.7516 19.8617 18.908 19.782C19.2843 19.5903 19.5903 19.2843 19.782 18.908C19.8617 18.7516 19.9266 18.5274 19.9624 18.089C19.9992 17.6389 20 17.0566 20 16.2V7.8C20 6.94342 19.9992 6.36113 19.9624 5.91104C19.9266 5.47262 19.8617 5.24842 19.782 5.09202C19.5903 4.7157 19.2843 4.40973 18.908 4.21799C18.7516 4.1383 18.5274 4.07337 18.089 4.03755C17.6389 4.00078 17.0566 4 16.2 4H7.8C6.94342 4 6.36113 4.00078 5.91104 4.03755Z' fill='%23FFFFFF'/%3E%3C/svg%3E%0A");
}
@media (max-width: 600px) {
  .form__checkbox label {
    font-size: 14px;
  }
}
.form__checkbox input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.7587 2H16.2413C17.0463 1.99999 17.7106 1.99998 18.2518 2.04419C18.8139 2.09012 19.3306 2.18868 19.816 2.43597C20.5686 2.81947 21.1805 3.43139 21.564 4.18404C21.8113 4.66937 21.9099 5.18608 21.9558 5.74817C22 6.28936 22 6.95372 22 7.75868V16.2413C22 17.0463 22 17.7106 21.9558 18.2518C21.9099 18.8139 21.8113 19.3306 21.564 19.816C21.1805 20.5686 20.5686 21.1805 19.816 21.564C19.3306 21.8113 18.8139 21.9099 18.2518 21.9558C17.7106 22 17.0463 22 16.2413 22H7.75868C6.95372 22 6.28936 22 5.74817 21.9558C5.18608 21.9099 4.66937 21.8113 4.18404 21.564C3.43139 21.1805 2.81947 20.5686 2.43597 19.816C2.18868 19.3306 2.09012 18.8139 2.04419 18.2518C1.99998 17.7106 1.99999 17.0463 2 16.2413V7.7587C1.99999 6.95373 1.99998 6.28937 2.04419 5.74817C2.09012 5.18608 2.18868 4.66937 2.43597 4.18404C2.81947 3.43139 3.43139 2.81947 4.18404 2.43597C4.66937 2.18868 5.18608 2.09012 5.74817 2.04419C6.28937 1.99998 6.95373 1.99999 7.7587 2ZM5.91104 4.03755C5.47262 4.07337 5.24842 4.1383 5.09202 4.21799C4.7157 4.40973 4.40973 4.7157 4.21799 5.09202C4.1383 5.24842 4.07337 5.47262 4.03755 5.91104C4.00078 6.36113 4 6.94342 4 7.8V16.2C4 17.0566 4.00078 17.6389 4.03755 18.089C4.07337 18.5274 4.1383 18.7516 4.21799 18.908C4.40973 19.2843 4.7157 19.5903 5.09202 19.782C5.24842 19.8617 5.47262 19.9266 5.91104 19.9624C6.36113 19.9992 6.94342 20 7.8 20H16.2C17.0566 20 17.6389 19.9992 18.089 19.9624C18.5274 19.9266 18.7516 19.8617 18.908 19.782C19.2843 19.5903 19.5903 19.2843 19.782 18.908C19.8617 18.7516 19.9266 18.5274 19.9624 18.089C19.9992 17.6389 20 17.0566 20 16.2V7.8C20 6.94342 19.9992 6.36113 19.9624 5.91104C19.9266 5.47262 19.8617 5.24842 19.782 5.09202C19.5903 4.7157 19.2843 4.40973 18.908 4.21799C18.7516 4.1383 18.5274 4.07337 18.089 4.03755C17.6389 4.00078 17.0566 4 16.2 4H7.8C6.94342 4 6.36113 4.00078 5.91104 4.03755ZM17.2071 8.29289C17.5976 8.68342 17.5976 9.31658 17.2071 9.70711L11.2071 15.7071C10.8166 16.0976 10.1834 16.0976 9.79289 15.7071L6.79289 12.7071C6.40237 12.3166 6.40237 11.6834 6.79289 11.2929C7.18342 10.9024 7.81658 10.9024 8.20711 11.2929L10.5 13.5858L15.7929 8.29289C16.1834 7.90237 16.8166 7.90237 17.2071 8.29289Z' fill='%23fff'/%3E%3C/svg%3E%0A");
}

.header {
  padding: 20px 0;
  box-shadow: 0px 0px 25px rgba(5, 25, 25, 0.08);
  position: relative;
}
@media (max-width: 600px) {
  .header {
    padding: 10px 0;
  }
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .header__wrapper {
    gap: 10px;
    justify-content: center;
  }
}
.header__logo {
  display: block;
  width: 230px;
}
@media (max-width: 600px) {
  .header__logo {
    width: 150px;
  }
}
@media (max-width: 420px) {
  .header__logo {
    width: 120px;
  }
}
.header__logo img {
  width: 100%;
}
.header__wa {
  display: block;
  width: 50px;
}
.header__wa img {
  width: 100%;
}
.header__wa:hover {
  opacity: 0.5;
}
@media (max-width: 600px) {
  .header__wa {
    width: 35px;
  }
}
@media (max-width: 420px) {
  .header__wa {
    width: 30px;
  }
}
.header__contacts {
  display: flex;
  gap: 35px;
  align-items: center;
}
@media (max-width: 600px) {
  .header__contacts {
    gap: 10px;
  }
}
.header__list {
  display: flex;
  align-items: center;
  gap: 35px;
  font-size: 16px;
}
@media (max-width: 1399px) {
  .header__list {
    gap: 25px;
  }
}
@media (max-width: 1290px) {
  .header__list {
    display: none;
  }
}
.header__phones {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 600px) {
  .header__phones {
    font-size: 14px;
    gap: 5px;
  }
}
@media (max-width: 420px) {
  .header__phones {
    font-size: 12px;
    gap: 5px;
  }
}

.hero {
  background-size: cover;
  min-height: calc(100vh - 95px);
  background-attachment: fixed;
  background-position: center;
}
@media (max-width: 600px) {
  .hero {
    min-height: auto;
    background-attachment: unset;
  }
}
.hero .container {
  height: 100%;
}
.hero__promotion {
  font-size: 32px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px 40px;
  margin-bottom: -30px;
}
@media (max-width: 600px) {
  .hero__promotion {
    font-size: 18px;
    padding: 10px 20px;
    margin-bottom: 0;
  }
}
.hero__wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding: 200px 0;
  min-height: calc(100vh - 95px);
}
@media (max-width: 600px) {
  .hero__wrapper {
    min-height: auto;
    padding: 200px 0;
    gap: 30px;
  }
}
.hero__ticker {
  display: flex;
  padding: 20px 40px;
  border-radius: 8px;
  color: var(--color-text);
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: -30px;
  font-size: 16px;
}
@media (max-width: 600px) {
  .hero__ticker {
    padding: 10px 20px;
  }
}
.hero__title {
  color: var(--color-text);
}

.company {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
@media (max-width: 600px) {
  .company {
    background-attachment: unset;
  }
}
.company .container {
  height: 100%;
}
.company__wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 200px 0;
}
@media (max-width: 1290px) {
  .company__wrapper {
    padding: 100px 0;
  }
}
@media (max-width: 600px) {
  .company__wrapper {
    padding: 60px 0;
  }
}
.company__text {
  max-width: 1000px;
  margin: 0 auto;
}
.company__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 110%;
  text-align: center;
  color: var(--color-text);
  margin-bottom: 50px;
}
@media (max-width: 1290px) {
  .company__title {
    font-size: 36px;
  }
}
@media (max-width: 600px) {
  .company__title {
    font-size: 24px;
    margin-bottom: 30px;
  }
}
.company__desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-text);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 40px;
  border-radius: 8px;
}
@media (max-width: 600px) {
  .company__desc {
    font-size: 16px;
    padding: 20px;
  }
}
.company__desc span {
  color: var(--color-accent-second);
}
.company__offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
@media (max-width: 600px) {
  .company__offer {
    margin-top: 50px;
  }
}
.company__subtitle {
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  text-align: center;
  color: var(--color-text);
  margin-bottom: 50px;
}
@media (max-width: 600px) {
  .company__subtitle {
    font-size: 24px;
    margin-bottom: 30px;
  }
}
.company__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 5%;
  gap: 40px;
}
@media (max-width: 1290px) {
  .company__list {
    grid-template-columns: 1fr;
    padding: 0;
  }
}
.company__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  color: var(--color-text);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 50px 30px;
  border-radius: 8px;
}
.company__item strong {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-accent-second);
}
@media (max-width: 600px) {
  .company__item strong {
    font-size: 18px;
  }
}
.company__item p {
  font-weight: 400;
}
.company__icon {
  width: 80px;
  height: 80px;
  background-color: var(--color-text);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.company__icon svg {
  width: 100%;
  height: 100%;
  fill: var(--color-accent);
}

.partners {
  background-color: var(--color-main);
  padding: 100px 0;
}
@media (max-width: 1290px) {
  .partners {
    padding: 60px 0;
  }
}
@media (max-width: 600px) {
  .partners {
    padding: 40px 0;
  }
}
.partners__wrapper {
  padding: 0 5%;
}
@media (max-width: 1290px) {
  .partners__wrapper {
    padding: 0;
  }
}
.partners__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 110%;
  text-align: center;
  color: var(--color-text);
  margin-bottom: 50px;
  border-bottom: 1px solid var(--color-text);
  padding-bottom: 30px;
}
@media (max-width: 960px) {
  .partners__title {
    font-size: 36px;
  }
}
@media (max-width: 600px) {
  .partners__title {
    font-size: 24px;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 20px;
  }
}
.partners__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px 40px;
}
@media (max-width: 1290px) {
  .partners__list {
    grid-template-columns: 1fr;
    gap: 50px;
  }
}
.partners__item {
  display: flex;
  gap: 30px;
}
.partners__desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-text);
  border-radius: 8px;
}
@media (max-width: 960px) {
  .partners__desc {
    font-size: 16px;
  }
}
.partners__desc span {
  color: var(--color-accent-second);
}
.partners__icon {
  width: 120px;
  height: 120px;
  flex-shrink: 0;
}
@media (max-width: 960px) {
  .partners__icon {
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 600px) {
  .partners__icon {
    width: 60px;
    height: 60px;
  }
}
.partners__icon img {
  width: 100%;
  height: 100%;
}
@media (max-width: 960px) {
  .partners__btn {
    font-size: 16px;
    height: 52px;
  }
}
.partners__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.objects {
  background-color: var(--color-main-light);
  padding: 100px 0 50px;
}
@media (max-width: 1290px) {
  .objects {
    padding: 60px 0 30px;
  }
}
@media (max-width: 600px) {
  .objects {
    padding: 40px 0 20px;
  }
}
.objects__wrapper {
  padding: 0 5%;
}
@media (max-width: 1290px) {
  .objects__wrapper {
    padding: 0;
  }
}
.objects__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 110%;
  text-align: center;
  color: var(--color-text);
  margin-bottom: 50px;
  border-bottom: 1px solid var(--color-text);
  padding-bottom: 30px;
}
@media (max-width: 960px) {
  .objects__title {
    font-size: 36px;
  }
}
@media (max-width: 600px) {
  .objects__title {
    font-size: 24px;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 20px;
  }
}
.objects__map {
  height: 500px;
  width: 100%;
}
.objects__map iframe {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}
@media (max-width: 600px) {
  .objects__map {
    height: 370px;
  }
}

.faq {
  background-color: var(--color-main);
  padding: 100px 0;
}
@media (max-width: 1290px) {
  .faq {
    padding: 60px 0;
  }
}
@media (max-width: 600px) {
  .faq {
    padding: 40px 0;
  }
}
.faq__wrapper {
  padding: 0 5%;
}
@media (max-width: 1290px) {
  .faq__wrapper {
    padding: 0;
  }
}
.faq__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 110%;
  text-align: center;
  color: var(--color-text);
  margin-bottom: 50px;
  border-bottom: 1px solid var(--color-text);
  padding-bottom: 30px;
}
@media (max-width: 960px) {
  .faq__title {
    font-size: 36px;
  }
}
@media (max-width: 600px) {
  .faq__title {
    font-size: 24px;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 20px;
  }
}
.faq__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .faq__list {
    gap: 10px;
  }
}
.faq__item {
  border: 1px solid var(--color-text);
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  color: var(--color-text);
}
.faq__item:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
.faq__item--active {
  padding-bottom: 28px;
  background-color: rgba(0, 0, 0, 0.15);
}
.faq__accordion {
  width: 100%;
  transition: 0.4s;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.01em;
  outline: none;
  color: var(--color-text);
  text-align: left;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border: none;
  transition: all 0.3s ease;
  padding: 32px 20px 32px 20px;
}
.faq__accordion svg {
  color: #fff;
  width: 20px;
  height: 20px;
  display: block;
  transition: all 0.3s ease;
}
.faq__accordion--active {
  padding-bottom: 32px;
}
.faq__accordion--active:hover::before {
  opacity: 0;
}
.faq__accordion--active svg {
  rotate: -45deg;
}
@media (max-width: 1290px) {
  .faq__accordion {
    font-size: 18px;
    padding: 20px;
  }
  .faq__accordion svg {
    width: 16px;
    height: 16px;
  }
}
@media (max-width: 600px) {
  .faq__accordion {
    font-size: 14px;
    padding: 15px;
  }
  .faq__accordion svg {
    width: 16px;
    height: 16px;
  }
}
.faq__panel {
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  font-weight: 400;
  font-size: 18px;
  color: var(--color-accent-second);
  padding: 0 20px;
}
@media (max-width: 960px) {
  .faq__panel {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .faq__panel {
    font-size: 14px;
    padding: 0 15px;
  }
}

.footer {
  background-color: var(--color-main-light);
  padding: 100px 0 0;
}
@media (max-width: 1290px) {
  .footer {
    padding: 60px 0 0;
  }
}
@media (max-width: 600px) {
  .footer {
    padding: 40px 0 0;
  }
}
.footer__wrapper {
  padding: 0 5%;
}
@media (max-width: 1290px) {
  .footer__wrapper {
    padding: 0;
  }
}
.footer form {
  width: 100%;
  margin: 0;
  max-width: none;
}
@media (max-width: 960px) {
  .footer form {
    order: 1;
  }
}
.footer__content {
  display: grid;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  gap: 100px;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}
@media (max-width: 960px) {
  .footer__content {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
.footer__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 110%;
  text-align: center;
  color: var(--color-text);
  margin-bottom: 50px;
  border-bottom: 1px solid var(--color-text);
  padding-bottom: 30px;
}
@media (max-width: 960px) {
  .footer__title {
    font-size: 36px;
  }
}
@media (max-width: 600px) {
  .footer__title {
    font-size: 24px;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 20px;
  }
}
.footer__info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: var(--color-text);
}
@media (max-width: 960px) {
  .footer__info {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    order: 2;
  }
}
.footer__subtitle {
  font-size: 36px;
}
@media (max-width: 960px) {
  .footer__subtitle {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .footer__subtitle {
    font-size: 24px;
  }
}
.footer__link {
  color: var(--color-accent-second);
}
.footer__copyright {
  width: 100%;
  text-align: center;
  color: var(--color-text);
  background: #000;
  padding: 20px 0;
  margin-top: 100px;
  font-weight: 400;
}
@media (max-width: 600px) {
  .footer__copyright {
    margin-top: 30px;
  }
}

.quiz {
  background-color: var(--color-main-light);
  padding: 100px 0;
}
@media (max-width: 1290px) {
  .quiz {
    padding: 60px 0;
  }
}
@media (max-width: 600px) {
  .quiz {
    padding: 40px 0;
  }
}
.quiz__wrapper {
  padding: 0 5%;
}
@media (max-width: 1290px) {
  .quiz__wrapper {
    padding: 0;
  }
}
.quiz__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 110%;
  text-align: center;
  color: var(--color-text);
  margin-bottom: 50px;
  border-bottom: 1px solid var(--color-text);
  padding-bottom: 30px;
}
@media (max-width: 960px) {
  .quiz__title {
    font-size: 36px;
  }
}
@media (max-width: 600px) {
  .quiz__title {
    font-size: 24px;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 20px;
  }
}
.quiz__content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  transition: all 0.3s ease;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (max-width: 600px) {
  .quiz__content {
    padding: 30px;
    min-height: 450px;
  }
}
.quiz__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
@media (max-width: 960px) {
  .quiz__header {
    margin-bottom: 30px;
    flex-wrap: wrap;
    gap: 15px;
  }
}
.quiz__subtitle {
  color: var(--color-text);
}
@media (max-width: 960px) {
  .quiz__subtitle {
    font-size: 16px;
  }
}
.quiz__counter {
  color: var(--color-accent-second);
}
@media (max-width: 960px) {
  .quiz__counter {
    font-size: 16px;
  }
}
.quiz__controls {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-top: auto;
  width: 100%;
  align-self: end;
  margin-top: auto;
}
.quiz__question {
  color: var(--color-text);
}
.quiz__choises {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.quiz__choise input[type=radio] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.quiz__choise input[type=text] {
  width: 50%;
  background-color: transparent;
  border: 1px solid var(--color-text);
  border-radius: 8px;
  padding: 20px;
  color: var(--color-text);
  font-size: 18px;
  outline: none;
  transition: all 0.3s ease;
}
.quiz__choise input[type=text]:focus {
  border-color: var(--color-accent);
}
@media (max-width: 960px) {
  .quiz__choise input[type=text] {
    width: 100%;
    font-size: 16px;
    padding: 15px;
  }
}
.quiz__choise label {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--color-text);
  font-size: 18px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
@media (max-width: 600px) {
  .quiz__choise label {
    font-size: 16px;
  }
}
.quiz__choise label::before {
  content: "";
  width: 24px;
  height: 24px;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s ease;
}
@media (max-width: 960px) {
  .quiz__choise label::before {
    width: 16px;
    height: 16px;
  }
}
.quiz__choise input:checked + label::before {
  background-color: var(--color-accent);
}
.quiz__btn {
  border: none;
  outline: none;
  transition: all 0.3s ease;
  font-size: 18px;
  height: 52px;
}
.quiz__btn:disabled:hover {
  background-color: var(--color-accent);
  color: #fff;
}
.quiz__btn:disabled {
  opacity: 0.5;
}
@media (max-width: 960px) {
  .quiz__btn {
    font-size: 14px;
    height: 42px;
  }
}
.quiz__block {
  display: none;
  -webkit-animation: fade 0.3s ease;
          animation: fade 0.3s ease;
}
.quiz__block.active {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.quiz__thanks {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 48px;
  border-radius: 8px;
  color: #fff;
  background-color: var(--color-main);
  left: 0;
  top: 0;
  -webkit-animation: fade 0.3s ease;
          animation: fade 0.3s ease;
  z-index: 999;
}
@media (max-width: 1290px) {
  .quiz__thanks {
    font-size: 36px;
  }
}
@media (max-width: 600px) {
  .quiz__thanks {
    font-size: 24px;
  }
}
.quiz__thanks.active {
  display: flex;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.params {
  background-color: var(--color-main);
  padding: 100px 0;
}
@media (max-width: 1290px) {
  .params {
    padding: 60px 0;
  }
}
@media (max-width: 600px) {
  .params {
    padding: 40px 0;
  }
}
.params__wrapper {
  padding: 0 5%;
}
@media (max-width: 1290px) {
  .params__wrapper {
    padding: 0;
  }
}
.params__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 110%;
  text-align: center;
  color: var(--color-text);
  margin-bottom: 50px;
  border-bottom: 1px solid var(--color-text);
  padding-bottom: 30px;
}
@media (max-width: 960px) {
  .params__title {
    font-size: 36px;
  }
}
@media (max-width: 600px) {
  .params__title {
    font-size: 24px;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 20px;
  }
}
.params__desc {
  text-align: center;
  font-size: 18px;
  color: var(--color-text);
  max-width: 1000px;
  margin: 0 auto;
  font-weight: 400;
}
.params__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px 39px;
  margin-top: 60px;
}
@media (max-width: 1290px) {
  .params__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 960px) {
  .params__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .params__list {
    display: flex;
    overflow-x: auto;
    padding: 0 20px;
  }
}
.params__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  color: var(--color-text);
  border-radius: 8px;
}
@media (max-width: 600px) {
  .params__item {
    min-width: 80%;
  }
}
.params__item strong {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-accent-second);
}
.params__item p {
  font-weight: 400;
  font-size: 16px;
}
.params__icon {
  width: 60px;
  height: 60px;
  background-color: var(--color-text);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.params__icon svg {
  width: 100%;
  height: 100%;
}

.gallery {
  background-color: var(--color-main-light);
  padding: 50px 0;
}
@media (max-width: 1290px) {
  .gallery {
    padding: 30px 0 60px;
  }
}
@media (max-width: 600px) {
  .gallery {
    padding: 20px 0 40px;
  }
}
.gallery__wrapper {
  padding: 0 5%;
}
@media (max-width: 1290px) {
  .gallery__wrapper {
    padding: 0;
  }
}
.gallery__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 110%;
  text-align: center;
  color: var(--color-text);
  margin-bottom: 50px;
  border-bottom: 1px solid var(--color-text);
  padding-bottom: 30px;
}
.gallery__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}
@media (max-width: 960px) {
  .gallery__list {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}
@media (max-width: 600px) {
  .gallery__list {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
.gallery__item {
  height: 500px;
  overflow: hidden;
  border-radius: 8px;
}
.gallery__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.4s ease;
}
.gallery__item:hover img {
  scale: 1.1;
}
@media (max-width: 1290px) {
  .gallery__item {
    height: 400px;
  }
}
@media (max-width: 600px) {
  .gallery__item {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */